
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employee Directory</title>
</head>
<body>
<p th:text="'First Name: '+ ${person.firstname}" />
<p th:text="'Last Name: '+ ${person.lastname}" />
<p th:text="'Cell Phone: '+ ${person.cellphone}" />
<p th:text="'Work Phone: '+ ${person.workphone}" />
<!--<p th:text="'This person is the department: '+ ${department.departhead}" />-->


<h6>test</h6>
<a th:href="@{/addperson/{id}(id=${person.department.id})}">Add another Employee</a>
</body>
</html>